html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 100%;
  border-top: 5px solid #000;
}
p {
  text-align: left;
}
h3 {
  margin-bottom: 0;
}
h3 span {
  font-weight: normal;
  padding-left: 0.5em;
  border-left: 2px solid #000;
  margin-left: 0.5em;
}
dt {
  font-weight: bold;
}
a img {
  height: 1em;
  padding-right: 0.5em;
}
.tech-icons img {
  height: 3em;
  width: 3em;
}
.tech-icons {
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lede {
  font-size: 1.2rem;
  text-align: center;
}
.date-range {
  margin-top: 0;
  color: #888;
  font-size: 0.8rem;
  text-transform: uppercase;
}
